.cart-button-group {
    margin: 20px 0;
    padding: 20px;
}

.cart-card {
    max-width: 540px;
    padding: 10px 0;
}

.no-cart_wrappper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}